@model EntityLayer.Concrete.Setting
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
        <li><a href="/Home/About">Hakkımızda</a></li>
    </ul>
    <div class="row">
        <div class="wwd">
            <div class="col-sm-6"><img class="img-responsive" src="~/Content/_Layout/img/banner/blog_4.jpg" alt="#"></div>
            <div class="col-sm-6">
                <div class="column-inner ">
                    <div class="wrapper">
                        <h4 class="tf">@Html.DisplayFor(x=>x.AboutHeading)</h4>
                        <div class="desc">
                            <p>@Html.DisplayFor(x=>x.AboutContent)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

